## Librerias

In [1]:
# import pandas and numpy
import pandas as pd
import numpy as np
import sys

from sklearn.model_selection import train_test_split
# Para evaluar el modelo
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, f1_score, accuracy_score
from sklearn.metrics import plot_confusion_matrix
# Para búsqueda de hiperparámetros
from sklearn.model_selection import GridSearchCV
# Para la validación cruzada
from sklearn.model_selection import KFold 
# Para crear el arbol de decisión 
from sklearn.tree import DecisionTreeClassifier 
# Seaborn
import seaborn as sns 
from sklearn import tree

import seaborn as sns; sns.set()  # for plot styling
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

In [2]:
from pandas_profiling import ProfileReport

# Perfilamiento y preparacion de los datos

## Carga de datos

In [3]:
#Leemos el archivo de Demografía Y Poblacion
demografia=pd.read_excel('data/Demografía Y Poblacion.xlsx')
#Leemos el archivos de Vivienda y Servicios Publicos
vivienda=pd.read_excel('data/Vivienda y Servicios Publicos.xlsx')
#Leemos el archivos de Educacion
educacion=pd.read_excel('data/Educacion.xlsx')
#Leemos el archivos de Salud
salud=pd.read_excel('data/Salud.xlsx')

## Perfilamiento y entendimiento de los datos

In [41]:
#Visualizamos los atributos de los datos
demografia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897998 entries, 0 to 897997
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  897997 non-null  float64
 1   Departamento         897997 non-null  object
 2   Código Entidad       897997 non-null  float64
 3   Entidad              897997 non-null  object
 4   Dimensión            897997 non-null  object
 5   Subcategoría         897997 non-null  object
 6   Indicador            897998 non-null  object
 7   Dato Numérico        822492 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  897997 non-null  float64
 10  Mes                  897997 non-null  float64
 11  Fuente               897998 non-null  object
 12  Unidad de Medida     897997 non-null  object
dtypes: float64(5), object(8)
memory usage: 89.1+ MB

In [42]:
demografia

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
...,...,...,...,...,...,...,...,...,...,...,...,...,...
897993,8.0,Atlántico,8560.0,Ponedera,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"11,61",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897994,8.0,Atlántico,8832.0,Tubará,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"15,29",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897995,8.0,Atlántico,8770.0,Suan,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"20,26",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897996,8.0,Atlántico,8849.0,Usiacurí,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"6,82",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897997,11.0,Bogotá,11001.0,Bogotá,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"63,53",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje

In [43]:
demografiaF = pd.DataFrame(demografia)
demografiaF = demografiaF.drop(demografiaF.index[0])

In [44]:
#Verficamos los atributos
demografiaF['Código Departamento'] = pd.to_numeric(demografiaF['Código Departamento'], errors='coerce')
demografiaF['Código Entidad'] = pd.to_numeric(demografiaF['Código Entidad'], errors='coerce')
demografiaF['Dato Numérico'] = pd.to_numeric(demografiaF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')
demografiaF['Dato Cualitativo'] = demografiaF['Dato Cualitativo'].apply(str)
demografiaF['Año'] = pd.to_numeric(demografiaF['Año'], errors='coerce')
demografiaF['Mes'] = pd.to_numeric(demografiaF['Mes'], errors='coerce')

C:\Users\david\AppData\Local\Temp/ipykernel_33692/1188845186.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  demografiaF['Dato Numérico'] = pd.to_numeric(demografiaF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')

In [45]:
demografiaF.rename(columns = {'Código Departamento':'Código_Departamento', 'Código Entidad':'Código_Entidad', 'Dato Numérico':'Dato_Numérico', 'Dato Cualitativo':'Dato_Cualitativo', 'Unidad de Medida':'Unidad_de_Medida'}, inplace = True)

In [46]:
#Borramos los datos que no aportan información 
demografiaF = demografiaF.dropna(subset=['Dato_Numérico'])

In [47]:
demografiaF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 822492 entries, 1 to 897997
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código_Departamento  822492 non-null  float64
 1   Departamento         822492 non-null  object
 2   Código_Entidad       822492 non-null  float64
 3   Entidad              822492 non-null  object
 4   Dimensión            822492 non-null  object
 5   Subcategoría         822492 non-null  object
 6   Indicador            822492 non-null  object
 7   Dato_Numérico        822492 non-null  float64
 8   Dato_Cualitativo     822492 non-null  object
 9   Año                  822492 non-null  float64
 10  Mes                  822492 non-null  float64
 11  Fuente               822492 non-null  object
 12  Unidad_de_Medida     822492 non-null  object
dtypes: float64(5), object(8)
memory usage: 87.9+ MB

In [48]:
demografiaF.describe()

,Código_Departamento,Código_Entidad,Dato_Numérico,Año,Mes
count,822492.000000,822492.000000,8.224920e+05,822492.000000,822492.000000
mean,37.671993,38089.369398,4.808649e+03,2020.161227,11.510410
std,26.020932,25992.930893,1.592752e+05,2.159493,2.174005
min,1.000000,1001.000000,0.000000e+00,2010.000000,1.000000
25%,15.000000,15667.000000,3.660000e+00,2019.000000,12.000000
50%,25.000000,25807.000000,5.344000e+01,2020.000000,12.000000
75%,66.000000,66000.000000,5.962500e+02,2022.000000,12.000000
max,99.000000,99773.000000,3.986161e+07,2023.000000,12.000000

In [49]:
#Guardamos el dataset limpio
demografiaF.to_csv('data/Demografía Y Poblacion Clean.csv' , encoding = 'latin-1', sep=',', index=False)

In [50]:
#Visualizamos los atributos de los datos
vivienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220662 entries, 0 to 220661
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  220661 non-null  float64
 1   Departamento         220661 non-null  object
 2   Código Entidad       220661 non-null  float64
 3   Entidad              220661 non-null  object
 4   Dimensión            220661 non-null  object
 5   Subcategoría         220661 non-null  object
 6   Indicador            220662 non-null  object
 7   Dato Numérico        210265 non-null  object
 8   Dato Cualitativo     19260 non-null   float64
 9   Año                  220661 non-null  float64
 10  Mes                  220661 non-null  float64
 11  Fuente               220662 non-null  object
 12  Unidad de Medida     220661 non-null  object
dtypes: float64(5), object(8)
memory usage: 21.9+ MB

In [51]:
vivienda

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220657,73.0,Tolima,73770.0,Suárez,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,55",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220658,73.0,Tolima,73854.0,Valle de San Juan,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,64",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220659,73.0,Tolima,73861.0,Venadillo,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,68",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220660,73.0,Tolima,73870.0,Villahermosa,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,11",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220661,73.0,Tolima,73873.0,Villarrica,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,88",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)

In [52]:
viviendaF = pd.DataFrame(vivienda)
viviendaF = viviendaF.drop(viviendaF.index[0])

In [53]:
#Verficamos los atributos
viviendaF['Código Departamento'] = pd.to_numeric(viviendaF['Código Departamento'], errors='coerce')
viviendaF['Código Entidad'] = pd.to_numeric(viviendaF['Código Entidad'], errors='coerce')
viviendaF['Dato Numérico'] = pd.to_numeric(viviendaF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')
viviendaF['Dato Cualitativo'] = viviendaF['Dato Cualitativo'].apply(str)
viviendaF['Año'] = pd.to_numeric(viviendaF['Año'], errors='coerce')
viviendaF['Mes'] = pd.to_numeric(viviendaF['Mes'], errors='coerce')

C:\Users\david\AppData\Local\Temp/ipykernel_33692/309461240.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  viviendaF['Dato Numérico'] = pd.to_numeric(viviendaF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')

In [54]:
viviendaF.rename(columns = {'Código Departamento':'Código_Departamento', 'Código Entidad':'Código_Entidad', 'Dato Numérico':'Dato_Numérico', 'Dato Cualitativo':'Dato_Cualitativo', 'Unidad de Medida':'Unidad_de_Medida'}, inplace = True)

In [55]:
#Borramos los datos que no aportan información 
viviendaF = viviendaF.dropna(subset=['Dato_Numérico'])

In [56]:
viviendaF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210265 entries, 1 to 220661
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código_Departamento  210265 non-null  float64
 1   Departamento         210265 non-null  object
 2   Código_Entidad       210265 non-null  float64
 3   Entidad              210265 non-null  object
 4   Dimensión            210265 non-null  object
 5   Subcategoría         210265 non-null  object
 6   Indicador            210265 non-null  object
 7   Dato_Numérico        210265 non-null  float64
 8   Dato_Cualitativo     210265 non-null  object
 9   Año                  210265 non-null  float64
 10  Mes                  210265 non-null  float64
 11  Fuente               210265 non-null  object
 12  Unidad_de_Medida     210265 non-null  object
dtypes: float64(5), object(8)
memory usage: 22.5+ MB

In [57]:
viviendaF.describe()

,Código_Departamento,Código_Entidad,Dato_Numérico,Año,Mes
count,210265.000000,210265.000000,210265.000000,210265.000000,210265.000000
mean,37.415266,37843.841410,41.331402,2014.103721,10.697187
std,25.818641,25795.684846,39.936844,4.095471,2.468583
min,1.000000,1001.000000,0.000000,2005.000000,3.000000
25%,15.000000,15664.000000,1.470000,2011.000000,9.000000
50%,25.000000,25793.000000,28.290000,2015.000000,12.000000
75%,63.000000,63594.000000,85.780000,2018.000000,12.000000
max,99.000000,99773.000000,121.930000,2020.000000,12.000000

In [58]:
#Guardamos el dataset limpio
viviendaF.to_csv('data/Vivienda y Servicios Publicos Clean.csv' , encoding = 'latin-1', sep=',', index=False)

In [59]:
#Visualizamos los atributos de los datos
educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291757 entries, 0 to 291756
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  291756 non-null  float64
 1   Departamento         291756 non-null  object
 2   Código Entidad       291756 non-null  float64
 3   Entidad              291756 non-null  object
 4   Dimensión            291756 non-null  object
 5   Subcategoría         291756 non-null  object
 6   Indicador            291757 non-null  object
 7   Dato Numérico        269714 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  291756 non-null  float64
 10  Mes                  291756 non-null  float64
 11  Fuente               291757 non-null  object
 12  Unidad de Medida     291756 non-null  object
dtypes: float64(5), object(8)
memory usage: 28.9+ MB

In [60]:
educacion

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,20.0,Cesar,20000.0,Cesar,Educación,Acceso a la educación,Cobertura bruta en transición,"122,39",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Educación,Acceso a la educación,Cobertura bruta en transición,"98,26",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Educación,Acceso a la educación,Cobertura bruta en transición,"107,07",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Educación,Acceso a la educación,Cobertura bruta en transición,"120,82",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291752,73.0,Tolima,73000.0,Tolima,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"100,48",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,70.0,Sucre,70000.0,Sucre,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"95,26",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,68.0,Santander,68000.0,Santander,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,93",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,66.0,Risaralda,66000.0,Risaralda,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"99,32",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291756,63.0,Quindío,63000.0,Quindío,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,97",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [61]:
educacionF = pd.DataFrame(educacion)
educacionF = educacionF.drop(educacionF.index[0])

In [62]:
#Verficamos los atributos
educacionF['Código Departamento'] = pd.to_numeric(educacionF['Código Departamento'], errors='coerce')
educacionF['Código Entidad'] = pd.to_numeric(educacionF['Código Entidad'], errors='coerce')
educacionF['Dato Numérico'] = pd.to_numeric(educacionF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')
educacionF['Dato Cualitativo'] = educacionF['Dato Cualitativo'].apply(str)
educacionF['Año'] = pd.to_numeric(educacionF['Año'], errors='coerce')
educacionF['Mes'] = pd.to_numeric(educacionF['Mes'], errors='coerce')

C:\Users\david\AppData\Local\Temp/ipykernel_33692/2052372757.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  educacionF['Dato Numérico'] = pd.to_numeric(educacionF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')

In [63]:
educacionF.rename(columns = {'Código Departamento':'Código_Departamento', 'Código Entidad':'Código_Entidad', 'Dato Numérico':'Dato_Numérico', 'Dato Cualitativo':'Dato_Cualitativo', 'Unidad de Medida':'Unidad_de_Medida'}, inplace = True)

In [64]:
#Borramos los datos que no aportan información 
educacionF = educacionF.dropna(subset=['Dato_Numérico'])

In [65]:
educacionF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269714 entries, 1 to 291756
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código_Departamento  269714 non-null  float64
 1   Departamento         269714 non-null  object
 2   Código_Entidad       269714 non-null  float64
 3   Entidad              269714 non-null  object
 4   Dimensión            269714 non-null  object
 5   Subcategoría         269714 non-null  object
 6   Indicador            269714 non-null  object
 7   Dato_Numérico        269714 non-null  float64
 8   Dato_Cualitativo     269714 non-null  object
 9   Año                  269714 non-null  float64
 10  Mes                  269714 non-null  float64
 11  Fuente               269714 non-null  object
 12  Unidad_de_Medida     269714 non-null  object
dtypes: float64(5), object(8)
memory usage: 28.8+ MB

In [66]:
educacionF.describe()

,Código_Departamento,Código_Entidad,Dato_Numérico,Año,Mes
count,269714.000000,269714.000000,269714.000000,269714.000000,269714.000000
mean,37.549211,37963.749542,70.401236,2013.157322,11.974669
std,26.084565,26055.578439,37.412044,4.520340,0.157127
min,1.000000,1001.000000,0.000000,2003.000000,11.000000
25%,15.000000,15646.000000,46.400000,2009.000000,12.000000
50%,25.000000,25781.000000,73.300000,2013.000000,12.000000
75%,63.000000,63690.000000,95.190000,2017.000000,12.000000
max,99.000000,99773.000000,971.920000,2020.000000,12.000000

In [67]:
#Guardamos el dataset limpio
educacionF.to_csv('data/Educacion Clean.csv' , encoding = 'latin-1', sep=',', index=False)

In [68]:
#Visualizamos los atributos de los datos
salud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411259 entries, 0 to 411258
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  411258 non-null  float64
 1   Departamento         411258 non-null  object
 2   Código Entidad       411258 non-null  float64
 3   Entidad              411258 non-null  object
 4   Dimensión            411258 non-null  object
 5   Subcategoría         411258 non-null  object
 6   Indicador            411259 non-null  object
 7   Dato Numérico        332002 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  411258 non-null  float64
 10  Mes                  411258 non-null  float64
 11  Fuente               411259 non-null  object
 12  Unidad de Medida     411258 non-null  object
dtypes: float64(5), object(8)
memory usage: 40.8+ MB

In [69]:
salud

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411254,15.0,Boyacá,15839.0,Tutazá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411255,15.0,Boyacá,15842.0,Umbita,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411256,15.0,Boyacá,15861.0,Ventaquemada,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411257,15.0,Boyacá,15879.0,Viracachá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411258,15.0,Boyacá,15897.0,Zetaquira,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)

In [70]:
saludF = pd.DataFrame(salud)
saludF = saludF.drop(saludF.index[0])

In [71]:
#Verficamos los atributos
saludF['Código Departamento'] = pd.to_numeric(saludF['Código Departamento'], errors='coerce')
saludF['Código Entidad'] = pd.to_numeric(saludF['Código Entidad'], errors='coerce')
saludF['Dato Numérico'] = pd.to_numeric(saludF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')
saludF['Dato Cualitativo'] = saludF['Dato Cualitativo'].apply(str)
saludF['Año'] = pd.to_numeric(saludF['Año'], errors='coerce')
saludF['Mes'] = pd.to_numeric(saludF['Mes'], errors='coerce')

C:\Users\david\AppData\Local\Temp/ipykernel_33692/3522027196.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  saludF['Dato Numérico'] = pd.to_numeric(saludF['Dato Numérico'].str.replace('.','').str.replace(',','.'), errors='coerce')

In [72]:
saludF.rename(columns = {'Código Departamento':'Código_Departamento', 'Código Entidad':'Código_Entidad', 'Dato Numérico':'Dato_Numérico', 'Dato Cualitativo':'Dato_Cualitativo', 'Unidad de Medida':'Unidad_de_Medida'}, inplace = True)

In [73]:
#Borramos los datos que no aportan información 
saludF = saludF.dropna(subset=['Dato_Numérico'])

In [74]:
saludF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332002 entries, 1 to 411108
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código_Departamento  332002 non-null  float64
 1   Departamento         332002 non-null  object
 2   Código_Entidad       332002 non-null  float64
 3   Entidad              332002 non-null  object
 4   Dimensión            332002 non-null  object
 5   Subcategoría         332002 non-null  object
 6   Indicador            332002 non-null  object
 7   Dato_Numérico        332002 non-null  float64
 8   Dato_Cualitativo     332002 non-null  object
 9   Año                  332002 non-null  float64
 10  Mes                  332002 non-null  float64
 11  Fuente               332002 non-null  object
 12  Unidad_de_Medida     332002 non-null  object
dtypes: float64(5), object(8)
memory usage: 35.5+ MB

In [75]:
saludF.describe()

,Código_Departamento,Código_Entidad,Dato_Numérico,Año,Mes
count,332002.000000,332002.000000,3.320020e+05,332002.000000,332002.000000
mean,37.858670,38271.323576,6.690277e+03,2013.332468,11.889166
std,26.155483,26126.713940,2.856009e+05,4.268398,0.313927
min,1.000000,1001.000000,0.000000e+00,1998.000000,11.000000
25%,15.000000,15686.000000,6.100000e+00,2010.000000,12.000000
50%,25.000000,25839.000000,2.206000e+01,2014.000000,12.000000
75%,66.000000,66001.000000,8.079000e+01,2017.000000,12.000000
max,99.000000,99773.000000,4.705682e+07,2020.000000,12.000000

In [76]:
#Guardamos el dataset limpio
saludF.to_csv('data/Salud Clean.csv' , encoding = 'latin-1', sep=',', index=False)